<header>
  <nav id="root_nav">
    <nav id="primary_nav">  
      <a href="home">
        <img id="logo" src="../../assets/images/logo_lms.png" alt="logo-scis.png">
      </a>
      <a href="home">Beranda</a>
      <a href="competitions">Perlombaan</a>
      <a href="students">Siswa</a>
    </nav>
    
    <nav id="user_menu">
      <span id="signed_account">
        <a id="profile_pic" href="profile">
          <img src="../../assets/images/default_pfp.jpg" alt="default_pfp.jpg">
        </a>
        <p id="username">Anonymous</p>
      </span>
      <a href="login">Login</a>
    </nav>
  </nav>
</header>