<style>
  header * {
    margin: auto 0;
  }
  
  header {
    background-color: white;
    margin: 0;
  }

  header nav, header span {
    display: flex;
  }
  
  header #root_nav {
    justify-content: space-between;
    padding: 0 20px;
  }

  header #primary_nav {
    gap: 30px;
  }
  
  header #user_menu {
    gap: 10px;
  }

  header span {
    gap: 10px;
  }

  header #login_button {
    padding: 8px 16px;
  }

  header #logo {
    height: 50px;
  }

  header #profile_pic img {
    height: 30px;
  }
</style>