<header>
  <nav id="root_nav">
    <nav id="primary_nav">  
      <a href="home">
        <img id="logo" src="../../assets/images/logo_lms.png" alt="logo-scis.png">
      </a>
      <a href="../../pages/home/home.php">Beranda</a>
      <a href="../../pages/comp/comps.php">Perlombaan</a>
      <a href="students">Siswa</a>
    </nav>

    <nav id="user_menu">
      <span id="signed_account">
        <a id="profile_pic" href="profile">
          <img src="! profile_pic.jpg !" alt="pfp.jpg">
        </a>
      </span>
      <a href="login">Login</a>
    </nav>
  </nav>
</header>
