* {
}

body {
  margin: auto auto;
  min-height: 100vh;
  display: flex;
  background-color: rgb(181, 177, 189);
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: 10px;

}