<footer>
  <a id="globe_icon" href="https://smkn1denpasar.sch.id/">
    <img src="../../assets/images/social_icons/globe.png" alt="globe_icon.png">
  </a>

  <a id="fb_icon" href="http://facebook.com/smknegeri1denpasar">
    <img src="../../assets/images/social_icons/fb.png" alt="facebook_icon.png">
  </a>

  <p>! account_message !</p>

  <a id="yt_icon" href="https://youtube.com/@smkn1denpasar">
    <img src="../../assets/images/social_icons/yt.png" alt="youtube_icon.png">
  </a>

  <a id="ig_icon" href="https://instagram.com/smkn1denpasar/">
    <img src="../../assets/images/social_icons/ig.png" alt="instagrampng">
  </a>
</footer>
