<style>
  footer * {
    margin: auto 0;
    color: white;
  }

  footer {
    margin: 0;
    background-color: #232325;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
  }

  footer a {
    height: 64px;   
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    height: 32px;
    margin: auto auto;
  }

  footer #globe_icon {
    background-color: #1F466F;
  }

  footer #fb_icon {
    background-color: #1877F2;
  }
  
  footer #yt_icon {
    background-color: #B2071D;
  }

  footer #ig_icon {
    background-color: #D300C5;
  }
</style>